<!DOCTYPE html>
<html lang="en">
    

<head>
        <meta charset="utf-8" />
        <title>Carga de Artículos | app</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="sancode86 | Software Argentina" name="description" />
        <meta content="sancode86" name="author" />
      
        <link rel="shortcut icon" href="assets/images/favicon.ico">

    </head>

    <body>       

        <%- include('partials/head') %>            
                 
        <section class="vh-100">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                  <div class="card shadow-2-strong" style="border-radius: 1rem">
                    <div class="card-body p-5 text-center">
                                        <br>
                                        <br>                                  
                                        <p class="text-muted font-14">
                                           ¡Perdón! Ocurrió un error inesperado. Por favor, intentalo de nuevo.
                                        </p>
                                        <br>
                                        <a href="carga-de-articulos"> <button class="btn btn-primary" >
                                            Volver
                                        </button></a>
                                        <br>
                                        <br>

                                        </div>                                        
                                    </div>                                       
                                </div>  
                            </div>                                       
                        </div>  
                        </section>

    </body>
</html>
