<!DOCTYPE html>
<html lang="en">
    

<head>
        <meta charset="utf-8" />
        <title>Carga de Artículos | app</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="icheck | Software Argentina" name="description" />
        <meta content="icheck" name="author" />
      
        <link rel="shortcut icon" href="assets/images/favicon.ico">

    </head>

    <body>       

        <%- include('partials/barra') %>            
                 
                                <div class="card">
                                    <div class="card-body text-center" >
                                        <br>
                                        <br>
                                        <h4 class="header-title">Ya existe un Artículo con ese código.</h4>
                                        <p class="text-muted font-14">
                                            Puede modificar el artículo existente o crear uno con código único. 
                                        </p>
                                        <br>
                                        <a href="carga-de-articulos"> <button class="btn btn-primary" >
                                            Volver
                                        </button></a>
                                        <br>
                                        <br>

                                        </div>                                        
                                    </div>                                       
                                </div>  


    </body>
</html>
