<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sancode</title>    
    <%- include('partials/barra') %>
</head>
<body id="bodyId" class="esconder">
    <%- include('partials/spinner') %>
            <h7>Home!</h7>   </br>
    
<button onclick="location.replace('/login')">Login</button>
<button onclick="location.replace('/signup')">Register</button>

</body>
</html>
<script>
    //para el spiner y la pantalla de carga
    window.onload = function () {
      $("#spiner").fadeOut();
      $("#bodyId").removeClass("esconder"); 
    };
  </script>