<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sancode</title>    
    <%- include('partials/head') %>
</head>
<body id="bodyId" class="esconder">    
    <%- include('partials/spinner') %>
    <%- include('partials/navbar') %>
    <section class="vh-100">
        <div class="container py-5 h-100 text-center">
           <h1>Home</h1>
    </section>
</body>
</html>
<%- include('partials/postFooter') %>
