<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>icheck</title>  
  
    <%- include('partials/head') %>
</head>
<body class="black">    
    <div class="text-center">
    </br>
    </br>
    </br>
    </br>    
    </br>
            <h7>Home!</h7>   </br>
    
    </div>
</body>
</html>