<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>sancode</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="sancode | Software Argentina" name="description" />
    <meta content="sancode" name="author" />
    <%- include('partials/head') %>
  </head>

  <body id="bodyId" class="esconder">
    <%- include('partials/spinner') %>

<h1>bla bla</h1>


  </body>
</html>
<%- include('partials/postFooter') %>