<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>sancode86</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="sancode86 | Software Argentina" name="description" />
    <meta content="sancode86" name="author" />
    <%- include('partials/head') %>
  </head>

  <body id="bodyId" class="esconder">
    <%- include('partials/spinner') %>
    <%- include('partials/navbar') %>
    <section class="vh-100">
      <div class="container py-5 h-100 text-center">
        <br>
        <br>
        <br>
         <h1>Tus Posteos</h1>
         <button  onclick="location.replace('/crear-post')"  class="btn btn-primary">
          Agregar
        </button>
        
      </div>
  </section>


  </body>
</html>
<%- include('partials/postFooter') %>