<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>App Instrumentacion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="icheck | Software Argentina" name="description" />
    <meta content="icheck" name="author" />
    <%- include('partials/barra') %>
  </head>

  <body>

<h1>bla bla</h1>


  </body>
</html>
