<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>      

   <script src="..\js\checkpassword.js"></script>
   <%- include('partials/head') %>
</head>
<body id="bodyId" class="esconder">
    <%- include('partials/spinner') %>
    

      <section class="vh-100" style="background-color: #508bfc">
                        <div class="container py-5 h-100">
                          <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                              <div class="card shadow-2-strong" style="border-radius: 1rem">
                                <div class="card-body p-5 text-center">
                                  <h3 class="mb-5">Crear Cuenta</h3>
                                  <% if (message.length > 0){ %>   
                                      <div class="alert alert-danger">
                                      <%= message %>   
                                      </div>
                                  <% }%> 
                        <form action="/signup" method="post">         
                                    <div class="mb-3">
                                      <input
                                        class="form-control"
                                        type="text"
                                        name="nombreUsuario"
                                        placeholder="Nombre"
                                        required
                                      />
                                    </div>
                                    <div class="mb-3">
                                      <input
                                        class="form-control"
                                        type="text"
                                        name="apellidoUsuario"
                                        placeholder="Apellido"
                                        required
                                      />
                                    </div>
                                    <div class="mb-3">
                                      <input
                                        class="form-control"
                                        type="email"
                                        name="email"
                                        placeholder="E-mail"
                                        required
                                      />
                                    </div>
                                    <div class="mb-3">
                                      <input
                                        class="form-control"
                                        type="text"
                                        name="descripcionUsuario"
                                        placeholder="Descripcion"
                                        required
                                      />
                                    </div>
                                    <div class="mb-3">
                                      <input
                                        type="password"
                                        class="form-control"
                                        name="password"
                                        placeholder="Contraseña"
                                        required
                                      />
                                    </div>                                     
                                    <div class="mb-3">                         
                                        <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password" id="confirm_password"  required>
                                    </div> 
                                    <div class="d-grid gap-2">                  
                                        <button
                                        type="submit"
                                        class="btn btn-primary"
                                        >
                                        Aceptar
                                      </button>                                      
                                  </div>
                         </form>

                                    <hr class="my-4" />        
                                    <a href="/login" class="btn btn-outline-primary">¿Ya tenés cuenta?</a>             
                                    <a href="/" class="btn btn-outline-primary">Inicio</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
</body>
</html>
<%- include('partials/postFooter') %>
