<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">  
    <title>Guardando | sancode86</title>
</head>
<body onload="volver();">    
</body>
<script>
function volver(){
    history.go(-1);
}
</script>
</html>
