.vistaprevia{  
    width: 100% !important;
    height: 250px !important;
    margin-top: 25px;
    border-radius: 15px;
    border: 1px solid #ced4da;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    text-align: center !important;
    right: 80px !important;
    position: fixed;
}

.dropdown-menu {  
    margin-left: -58px !important;
}

.navbar-brand { 
    padding-left: 30px !important;
}
.navbar{
    position: fixed;
    z-index: 1;
    background-color: #ffffff70 !important;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.navbar:hover{
    /* -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px); */
}
.targetaPost{
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    padding: 28px;
    width: fit-content;
    margin: auto;
    margin-top: 15px;
    line-height: 1;
    border-radius: 15px;
}
.imagenPost{
    width: 100% !important;
    height: 250px !important;   
    border-radius: 15px;
    border: 1px solid #ced4da;
}

.dropdown-menu{
    padding: 0;
    min-width: 0px !important;
}

.dropdown-divider{
    margin: 0;
}