<div class="wrapper">
    <!-- ========== Left Sidebar Start ========== -->
    <div class="left-side-menu">
       <!-- LOGO -->
       <a href="panel" class="logo text-center logo-light">
          <span class="logo-lg">
             <!-- <img src="assets/images/logo.png" alt="" height="16"> -->
             <p class="textoLogo">
                App Instrumentación
             </p>
          </span>
          <span class="logo-sm">
             <!-- <img src="assets/images/logo_sm.png" alt="" height="16"> -->
             <p class="textoLogo">
                App
             </p>
          </span>
       </a>
       <!-- LOGO -->
       <a href="panel" class="logo text-center logo-dark">
       <span class="logo-lg">
       <img src="assets/images/logo-dark.png" alt="" height="16">
       </span>
       <span class="logo-sm">
       <img src="assets/images/logo_sm_dark.png" alt="" height="16">
       </span>
       </a>
       <div class="h-100" id="left-side-menu-container" data-simplebar>
          <!--- Sidemenu -->
          <ul class="metismenu side-nav">
             <!-- <li class="side-nav-title side-nav-item">Componentes</li> -->
             <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                <i class="dripicons-menu"></i>
                <span> Accesos </span>
                <span class="menu-arrow"></span>
                </a>                 
                <ul class="side-nav-second-level" aria-expanded="false">
                   <li class="side-nav-item">
                      <a href="javascript: void(0);" aria-expanded="false">Sets
                      <span class="menu-arrow"></span>
                      </a>
                      <ul class="side-nav-third-level" aria-expanded="false">
                         <li>
                            <a href="carga-de-set">Carga de set</a>
                         </li>
                         <li>
                            <a href="consulta-set">Consulta sets</a>
                         </li>
                      </ul>
                   </li>
                   <li class="side-nav-item">
                      <a href="javascript: void(0);" aria-expanded="false">Artículos
                      <span class="menu-arrow"></span>
                      </a>
                      <ul class="side-nav-third-level" aria-expanded="false">
                         <li>
                            <a href="carga-de-articulos">Carga de artículos</a>
                         </li>
                         <li>
                            <a href="consulta-articulos">Consulta artículos</a>
                         </li>
                      </ul>
                   </li>
                   <li class="side-nav-item">
                      <a href="javascript: void(0);" aria-expanded="false">Etiquetas
                      <span class="menu-arrow"></span>
                      </a>
                      <ul class="side-nav-third-level" aria-expanded="false">
                         <li>
                            <a href="impresion-etiquetas">Impresión de etiquetas</a>
                         </li>
                      </ul>
                   </li>
                   <li class="side-nav-item">
                      <a href="javascript: void(0);" aria-expanded="false">Configuración
                      <span class="menu-arrow"></span>
                      </a>
                      <ul class="side-nav-third-level" aria-expanded="false">
                         <li>
                            <a href="admin">Configurar Sistema</a>
                         </li>
                      </ul>
                      <ul class="side-nav-third-level" aria-expanded="false">
                        <li>
                           <a href="pantalla-carga-inst">Vista APP</a>
                        </li>
                     </ul>
                   </li>


                </ul>
             </li>
          </ul>
          </li>
          </ul>
          <div class="clearfix"></div>
       </div>
       <!-- Sidebar -left -->
    </div>
    <!-- Left Sidebar End -->