<div class="sidebar contenidoAdmin" id="barraAdmin">
    <h3 class="logoAdmin">A</h3>
  
    <div class="botonesNav">
      <a class="active" href="#home"><i class="bi bi-people"></i>   Usuarios</a>      
      <a href="#news"><i class="bi bi-pencil"></i>   Editar</a> 
    </div>
</div>